Repository qeeqez/docs: changes, and which lefthook commands are due for each by the changed paths.
All: lint, format

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    lint:
      glob: "*.{js,ts,jsx,tsx}"
      run: bunx oxlint --max-warnings=0 {staged_files} && bunx fumadocs-mdx && bun ./scripts/lint.ts
      stage_fixed: true
    format:
      glob: "*.{js,ts,jsx,tsx,json,md}"
      run: bun format {staged_files}
      stage_fixed: true

fix: runtime error
  src/components/mdx/api-page.server.tsx
  src/components/mdx/api-page/render-static-example-tabs.tsx
  src/components/mdx/api-page/schema-cache.tsx
  src/components/mdx/api-page/types.ts
Due: lint, format

chore: bump deps
  bun.lock
  package.json
Due: format

chore: bump deps and update linter rules
  .oxlintrc.json
  bun.lock
  package.json
Due: format

chore: update dependencies
  bun.lock
  package.json
Due: format

docs(sdk): add videosdk hook docs and navigation
  content/en/sdk/hooks/index.mdx
  content/en/sdk/hooks/meta.json
  content/en/sdk/hooks/use-global-player-settings.mdx
  content/en/sdk/hooks/use-media-settings.mdx
  content/en/sdk/hooks/use-playback.mdx
  content/en/sdk/hooks/use-player-progress.mdx
  content/en/sdk/hooks/use-player-tracks.mdx
  content/en/sdk/hooks/use-player-ui.mdx
  content/en/sdk/hooks/use-progress-bar.mdx
  content/en/sdk/meta.json
  content/en/sdk/video-component/index.mdx
  content/en/sdk/video-component/player-controls.mdx
Due: format

docs(api): sync sdk references and readme to shipped hook surface
  content/en/sdk/getting-started/installation.mdx
  content/en/sdk/getting-started/overview.mdx
  content/en/sdk/getting-started/types.mdx
  content/en/sdk/video-component/props-reference.mdx
Due: none

docs(examples): replace stale video hook examples with playerId-based patterns
  content/en/home/guides/index.mdx
  content/en/home/video/index.mdx
Due: none

docs(sdk): migrate hook docs to scope-based API
  content/en/home/guides/index.mdx
  content/en/home/video/index.mdx
  content/en/sdk/getting-started/installation.mdx
  content/en/sdk/getting-started/overview.mdx
  content/en/sdk/getting-started/types.mdx
  content/en/sdk/hooks/index.mdx
  content/en/sdk/hooks/use-global-player-settings.mdx
  content/en/sdk/hooks/use-media-settings.mdx
  content/en/sdk/hooks/use-playback.mdx
  content/en/sdk/hooks/use-player-progress.mdx
  content/en/sdk/hooks/use-player-tracks.mdx
  content/en/sdk/hooks/use-player-ui.mdx
  content/en/sdk/hooks/use-progress-bar.mdx
  content/en/sdk/video-component/index.mdx
  content/en/sdk/video-component/player-controls.mdx
  content/en/sdk/video-component/props-reference.mdx
Due: none

Addressed in the latest docs update.
  content/en/sdk/getting-started/types.mdx
  content/en/sdk/hooks/use-progress-bar.mdx
  content/en/sdk/video-component/props-reference.mdx
Due: none

chore: update CODEOWNERS owner handle
  .github/CODEOWNERS
Due: none

fix: add aria-hidden to svgs
  src/components/layout/shared/index.tsx
  src/components/page-actions/icons/anthropic-icon.tsx
  src/components/page-actions/icons/openai-icon.tsx
Due: lint, format

docs(image): update Image component documentation for unified API
  content/en/sdk/image-component/basic-usage.mdx
  content/en/sdk/image-component/props-reference.mdx
Due: none
