Repository qeeqez/docs: changes, and which lefthook commands are due for each by the changed paths.
All: lint, format

lint:
  run: bunx oxlint --max-warnings=0 {staged_files} && bunx fumadocs-mdx && bun ./scripts/lint.ts
  stage_fixed: true

format:
  run: bun format {staged_files}
  stage_fixed: true

style(nav): make dashboard cta high-visibility and static #86ev2rk2x
  src/styles/app.css
Due: none

style(nav): add subtle dashboard hover without motion #86ev2rk2x
  src/styles/app.css
Due: none

style(nav): use semi-active hover bg for topbar links #86ev2rk2x
  src/styles/app.css
Due: none

fix(llm): generate api markdown from openapi metadata #86ev2rk2x
  src/lib/get-llm-text.ts
  src/routes/$lang/{$}[.]md.ts
Due: lint, format

fix(api): pre-render usage tabs and stabilize static api interactions #86ev2rk2x
  src/components/mdx/api-page.tsx
  src/routes/$lang/$.tsx
Due: lint, format

fix(api): unify static api rail and disable api toc #86ev2rk2x
  src/components/mdx/api-page.tsx
  src/routes/$lang/$.tsx
Due: lint, format

fix(api): render response descriptions for empty-body statuses #86ev2rk2x
  src/components/mdx/api-page.tsx
Due: lint, format

fix(api): normalize status-coded error examples per response tab #86ev2rk2x
  src/components/mdx/api-page.tsx
Due: lint, format

fix(api): map error example message to response description #86ev2rk2x
  src/components/mdx/api-page.tsx
Due: lint, format

fix(api): restore in-content response schema block #86ev2rk2x
  src/components/mdx/api-page.tsx
Due: lint, format

fix(api): render static in-content response sections without hydration #86ev2rk2x
  src/components/mdx/api-page.tsx
Due: lint, format

style(api): widen content and tighten api header spacing #86ev2rk2x
  src/routes/$lang/$.tsx
Due: lint, format

style(api): expand container width for api route layout #86ev2rk2x
  src/components/layout/shared/shared-layout.tsx
  src/routes/$lang/$.tsx
Due: lint, format

fix(api): render static request and response schemas with clear accordions #86ev2rk2x
  src/components/mdx/api-page.tsx
Due: lint, format

fix(api): expand nested schema fields for request and response bodies #86ev2rk2x
  src/components/mdx/api-page.tsx
Due: lint, format

fix(llm): enrich api markdown export with auth server and schema details #86ev2rk2x
  src/lib/get-llm-text.ts
Due: lint, format

refactor(openapi): share https server resolution across api page and llm export #86ev2rk2x
  src/components/mdx/api-page.tsx
  src/lib/api-base-url.ts
  src/lib/get-llm-text.ts
  src/lib/openapi.ts
Due: lint, format

fix(llm): include openapi pages in llms-full aggregation #86ev2rk2x
  src/routes/$lang/llms-full[.]txt.ts
Due: lint, format

chore: update swagger docs to include examples
  api.json
Due: format

chore: bump deps
  bun.lock
  package.json
Due: format

docs(content): replace app domain links with dash signup
  content/en/home/getting-started/quick-start.mdx
  content/en/home/platform/dashboard/guide.mdx
Due: none

docs(content): fix dashboard links for feeds and videos
  content/en/home/platform/dashboard/feeds/create-feed.mdx
  content/en/home/platform/uploads/videos-guide.mdx
Due: none

docs(content): point api reference links to generated /en/api docs
  content/en/home/getting-started/overview.mdx
  content/en/home/getting-started/quick-links.mdx
  content/en/home/getting-started/quick-start.mdx
  content/en/home/guides/index.mdx
  content/en/home/images/index.mdx
  content/en/home/platform/api-documentation/create-key.mdx
  content/en/home/platform/api-documentation/meta.json
  content/en/home/platform/api-documentation/overview.mdx
  content/en/home/platform/api-documentation/reference.mdx
  content/en/home/platform/dashboard/api-keys.mdx
  content/en/home/platform/dashboard/feeds/manage-feeds.mdx
  content/en/home/platform/dashboard/guide.mdx
  content/en/home/platform/index.mdx
  content/en/home/platform/meta.json
  content/en/home/platform/uploads/images.mdx
  content/en/home/platform/uploads/posts.mdx
  content/en/home/reference/index.mdx
  content/en/home/video/index.mdx
Due: format

docs(content): map dashboard links to feeds videos and images
  content/en/home/platform/uploads/posts.mdx
  content/en/sdk/examples/hero-image.mdx
  content/en/sdk/feed-component/basic-usage.mdx
  content/en/sdk/feed-component/props-reference.mdx
  content/en/sdk/getting-started/installation.mdx
  content/en/sdk/getting-started/overview.mdx
  content/en/sdk/image-component/basic-usage.mdx
  content/en/sdk/image-component/props-reference.mdx
  content/en/sdk/video-component/basic-usage.mdx
  content/en/sdk/video-component/player-controls.mdx
  content/en/sdk/video-component/props-reference.mdx
Due: none

docs(content): remove home reference section and links
  content/en/home/getting-started/overview.mdx
  content/en/home/meta.json
  content/en/home/reference/index.mdx
  content/en/home/reference/meta.json
Due: format

docs(content): reorganize api section navigation and metadata
  content/en/home/getting-started/quick-links.mdx
  content/en/home/platform/account-teams/general-settings.mdx
  content/en/home/platform/account-teams/index.mdx
  content/en/home/platform/account-teams/overview.mdx
  content/en/home/platform/account-teams/security.mdx
  content/en/home/platform/api-documentation/api-keys.mdx
  content/en/home/platform/api-documentation/create-key.mdx
  content/en/home/platform/api-documentation/error-handling.mdx
  content/en/home/platform/api-documentation/index.mdx
  content/en/home/platform/api-documentation/meta.json
  content/en/home/platform/api-documentation/rate-limits.mdx
  content/en/home/platform/dashboard/api-keys.mdx
  content/en/home/platform/dashboard/feeds/overview.mdx
  content/en/home/platform/dashboard/guide.mdx
  content/en/home/platform/dashboard/media/overview.mdx
  content/en/home/platform/dashboard/meta.json
  content/en/home/platform/dashboard/overview.mdx
  content/en/home/platform/meta.json
Due: format

docs(content): simplify api key docs and remove duplicate links
  content/en/home/platform/api-documentation/api-keys.mdx
  content/en/home/platform/api-documentation/error-handling.mdx
  content/en/home/platform/api-documentation/index.mdx
  content/en/home/platform/api-documentation/meta.json
Due: format

fix: root index html should be hydrated html and not spa shell
  vite.config.ts
Due: lint, format

refactor(svg): replace asset imports with react components
  bun.lock
  package.json
  src/assets/logo_wide.svg
  src/assets/logo_wide_white.svg
  src/assets/socials/discord.svg
  src/assets/socials/github.svg
  src/assets/socials/x.svg
  src/assets/socials/youtube.svg
  src/components/icons/discord-icon.tsx
  src/components/icons/github-icon.tsx
  src/components/icons/icon-props.ts
  src/components/icons/index.ts
  src/components/icons/logo-wide-white.tsx
  src/components/icons/logo-wide.tsx
  src/components/icons/x-icon.tsx
  src/components/icons/youtube-icon.tsx
  src/lib/layout.shared.tsx
  src/lib/server/og-handler.ts
  src/vite-env.d.ts
  vite.config.ts
Due: lint, format

feat: update docs
  content/en/sdk/examples/autoplay-background.mdx
  content/en/sdk/examples/hover-preview.mdx
  content/en/sdk/examples/index.mdx
  content/en/sdk/examples/minimal-player.mdx
  content/en/sdk/examples/standard-feed.mdx
  content/en/sdk/examples/standard-player.mdx
  content/en/sdk/feed-component/basic-usage.mdx
  content/en/sdk/feed-component/index.mdx
  content/en/sdk/feed-component/props-reference.mdx
  content/en/sdk/getting-started/installation.mdx
  content/en/sdk/getting-started/types.mdx
  content/en/sdk/video-component/basic-usage.mdx
  content/en/sdk/video-component/index.mdx
  content/en/sdk/video-component/player-controls.mdx
  content/en/sdk/video-component/props-reference.mdx
Due: none

fix: remove internal processes
  content/en/sdk/feed-component/basic-usage.mdx
  content/en/sdk/feed-component/index.mdx
  content/en/sdk/video-component/player-controls.mdx
  content/en/sdk/video-component/props-reference.mdx
Due: none

refactor: video-sdk docs
  content/en/sdk/examples/standard-player.mdx
  content/en/sdk/video-component/index.mdx
  content/en/sdk/video-component/player-controls.mdx
  content/en/sdk/video-component/props-reference.mdx
Due: none

chore: update agent rules
  .agent/rules/base.md
  .agent/skills/react-doctor/SKILL.md
  .agents/rules/code-style.md
  .agents/rules/commits.md
  .agents/skills/code-simplifier/SKILL.md
  .agents/skills/frontend-design/SKILL.md
  .oxlintrc.json
  AGENTS.md
  CLAUDE.md
Due: format

fix: lint errors
  scripts/lib/prerender-pages.ts
  src/components/layout/home/background.tsx
  src/components/layout/shared/client.tsx
  src/components/layout/shared/shared-layout.tsx
  src/components/mdx/api-page.tsx
  src/components/mdx/api-page/path-utils.tsx
  src/components/mdx/api-page/render-response-tabs.tsx
  src/components/mdx/api-page/render-static-example-tabs.tsx
  src/components/mdx/api-page/render-static-request-body.tsx
  src/components/mdx/api-page/render-static-response-section.tsx
  src/components/mdx/api-page/schema-cache.tsx
  src/components/mdx/api-page/schema-render.tsx
  src/components/mdx/api-page/schema-sample.ts
  src/components/mdx/api-page/schema-utils.tsx
  src/components/mdx/api-page/types.ts
  src/components/mdx/callout.tsx
  src/components/mdx/card.tsx
  src/components/mdx/static-api-html.tsx
  src/lib/get-llm-text.ts
  src/lib/get-llm-text/index.ts
  src/lib/get-llm-text/openapi-details.ts
  src/lib/get-llm-text/openapi-request.ts
  src/lib/get-llm-text/openapi-schema.ts
  src/lib/get-llm-text/render-openapi.ts
  src/lib/get-llm-text/types.ts
  src/lib/get-llm-text/utils.ts
  src/lib/is-active.ts
  src/lib/layout.shared.tsx
  src/lib/og.tsx
  src/routes/$lang/$.tsx
  src/routes/$lang/{$}[.]md.ts
  vite.config.ts
Due: lint, format

chore(deps): Vite 8 Released!
  bun.lock
  package.json
Due: format

chore: use new vite tsconfigPaths
  bun.lock
  package.json
  vite.config.ts
Due: lint, format

refactor: isolate server-only docs build modules
  scripts/lib/prerender-pages.ts
  src/components/mdx/api-page.server.tsx
  src/components/mdx/api-page.tsx
  src/lib/get-llm-text/index.server.ts
  src/lib/og.server.tsx
  src/lib/openapi.server.ts
  src/lib/server/docs-loader.ts
  src/lib/server/llms-handler.ts
  src/lib/server/og-handler.server.ts
  src/lib/source.server.ts
  src/routes/$lang/llms-full[.]txt.ts
  src/routes/$lang/og/$.tsx
  src/routes/$lang/{$}[.]md.ts
  src/routes/api/search.ts
  src/routes/sitemap[.]xml.ts
Due: lint, format

refactor: remove unused api page mdx stub
  src/components/mdx-components.tsx
  src/components/mdx/api-page.tsx
  src/components/mdx/index.ts
Due: lint, format

feat: restore favicons and other manifests
  public/apple-icon.png
  public/favicon.ico
  public/favicon.svg
  public/icon.png
  public/manifest.json
  public/mask-icon.svg
  public/robots.txt
  src/routes/__root.tsx
Due: lint, format

fix: prevent additional redirects when navigated on non "/" ended page route
  vite.config.ts
Due: lint, format

Path conditions:
  lint: any of: *.{js,ts,jsx,tsx}
  format: any of: *.{js,ts,jsx,tsx,json,md}
