Repository qeeqez/docs: changes, and which lefthook commands are due for each by the changed paths.
All: lint, format

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    lint:
      glob: "*.{js,ts,jsx,tsx}"
      run: bunx oxlint --max-warnings=0 {staged_files} && bunx fumadocs-mdx && bun ./scripts/lint.ts
      stage_fixed: true
    format:
      glob: "*.{js,ts,jsx,tsx,json,md}"
      run: bun format {staged_files}
      stage_fixed: true

fix: remove unused props
  content/docs/en/sdk/getting-started/types.mdx
  content/docs/en/sdk/video-component/props-reference.mdx
Due: none

docs(sdk): add TypeScript types reference
  content/docs/en/sdk/meta.json
  content/docs/en/sdk/types/index.mdx
  content/docs/en/sdk/types/meta.json
Due: format

fix: build error #42
  components/ui/toc-thumb.tsx
Due: lint, format

fix: wrong import
  components/layout/docs/sidebar/sidebar-folder-link.tsx
  components/layout/docs/sidebar/sidebar-item.tsx
Due: lint, format

chore: bump dependency versions
  .github/dependabot.yaml
  bun.lock
  package.json
Due: format

docs: update public API documentation
  api.json
Due: format

fix: generated api docs should be cleaned up first
  content/docs/en/api/feeds/feeds/feedid/upload/complete/post.mdx
  content/docs/en/api/feeds/feeds/feedid/upload/init/post.mdx
  content/docs/en/api/videos/videos/languages/get.mdx
  content/docs/en/api/videos/videos/videoid/audio-tracks/delete.mdx
  content/docs/en/api/videos/videos/videoid/audio-tracks/lang_code/delete.mdx
  content/docs/en/api/videos/videos/videoid/audio-tracks/lang_code/put.mdx
  content/docs/en/api/videos/videos/videoid/audio-tracks/post.mdx
  content/docs/en/api/videos/videos/videoid/audio-tracks/trackid/delete.mdx
  content/docs/en/api/videos/videos/videoid/chapters/delete.mdx
  content/docs/en/api/videos/videos/videoid/chapters/put.mdx
  content/docs/en/api/videos/videos/videoid/delete.mdx
  content/docs/en/api/videos/videos/videoid/delete/delete.mdx
  content/docs/en/api/videos/videos/videoid/subtitles/delete.mdx
  content/docs/en/api/videos/videos/videoid/subtitles/lang_code/delete.mdx
  content/docs/en/api/videos/videos/videoid/subtitles/lang_code/put.mdx
  content/docs/en/api/videos/videos/videoid/subtitles/post.mdx
  content/docs/en/api/videos/videos/videoid/subtitles/subtitleid/delete.mdx
  content/docs/en/api/videos/videos/videoid/thumbnail/put.mdx
  scripts/generate-api-docs.ts
Due: lint, format

feat: automatically generate api docs
  .github/workflows/generate-api-docs.yml
  scripts/generate-api-docs.ts
Due: lint, format

Add GitHub job for API docs
  content/docs/en/api/feeds/get-feeds-feedid-creators-creatorid.mdx
  content/docs/en/api/feeds/get-feeds-feedid-postid.mdx
  content/docs/en/api/feeds/get-feeds-feedid.mdx
  content/docs/en/api/images/delete-images-imageid.mdx
  content/docs/en/api/images/get-images-imageid.mdx
  content/docs/en/api/images/get-images.mdx
  content/docs/en/api/images/post-images-upload-complete.mdx
  content/docs/en/api/images/post-images-upload-init.mdx
  content/docs/en/api/meta.json
  content/docs/en/api/videos/delete-videos-videoid-audio-tracks-lang_code.mdx
  content/docs/en/api/videos/delete-videos-videoid-audio-tracks-trackid.mdx
  content/docs/en/api/videos/delete-videos-videoid-audio-tracks.mdx
  content/docs/en/api/videos/delete-videos-videoid-chapters.mdx
  content/docs/en/api/videos/delete-videos-videoid-delete.mdx
  content/docs/en/api/videos/delete-videos-videoid-subtitles-lang_code.mdx
  content/docs/en/api/videos/delete-videos-videoid-subtitles-subtitleid.mdx
  content/docs/en/api/videos/delete-videos-videoid-subtitles.mdx
  content/docs/en/api/videos/get-videos-languages.mdx
  content/docs/en/api/videos/get-videos-videoid.mdx
  content/docs/en/api/videos/get-videos.mdx
  content/docs/en/api/videos/post-videos-upload-complete.mdx
  content/docs/en/api/videos/post-videos-upload-init.mdx
  content/docs/en/api/videos/post-videos-videoid-audio-tracks.mdx
  content/docs/en/api/videos/post-videos-videoid-subtitles.mdx
  content/docs/en/api/videos/put-videos-videoid-audio-tracks-lang_code.mdx
  content/docs/en/api/videos/put-videos-videoid-chapters.mdx
  content/docs/en/api/videos/put-videos-videoid-subtitles-lang_code.mdx
  content/docs/en/api/videos/put-videos-videoid-thumbnail.mdx
  scripts/generate-api-docs.ts
Due: lint, format

Flatten fumadocs OpenAPI tree
  content/docs/en/api/feeds/meta.json
  content/docs/en/api/images/meta.json
  content/docs/en/api/videos/meta.json
  scripts/generate-api-docs.ts
Due: lint, format

feat: fix react-doctor error
  .agent/skills/frontend-design/SKILL.md
  .agent/skills/react-doctor/SKILL.md
  app/[lang]/api/page.tsx
  app/[lang]/page.tsx
  app/[lang]/sdk/page.tsx
  app/page.tsx
  components/image-mdx.tsx
  components/language-toggle.tsx
  components/layout/docs/page.tsx
  components/layout/docs/page/page-breadcrumb.tsx
  components/layout/docs/sidebar/sidebar-components.ts
  components/layout/docs/sidebar/sidebar-folder.tsx
  components/layout/docs/sidebar/sidebar-page-tree.tsx
  components/layout/footer/footer-bottom.tsx
  components/layout/footer/footer-content-section.tsx
  components/layout/footer/footer-content.tsx
  components/layout/header/header-mobile-menu-content.tsx
  components/layout/header/header-right.tsx
  components/layout/header/header.tsx
  components/layout/home/index.tsx
  components/layout/home/menu.tsx
  components/layout/home/navbar.tsx
  components/layout/options.ts
  components/layout/page.tsx
  components/layout/shared/client.tsx
  components/layout/shared/layout.client.tsx
  components/mdx/callout.tsx
  components/mdx/index.ts
  components/page-actions.tsx
  components/root-toggle.tsx
  components/search-toggle.tsx
  components/theme-toggle.tsx
  components/ui/collapsible.tsx
  components/ui/popover.tsx
  components/ui/scroll-area.tsx
  components/ui/toc-thumb.tsx
  lib/is-active.ts
  lib/og.tsx
Due: lint, format

fix: fix coderabbit comment on PR
  .agent/skills/frontend-design/SKILL.md
  app/[lang]/api/page.tsx
  app/[lang]/page.tsx
  app/[lang]/sdk/page.tsx
  app/page.tsx
  components/layout/docs/sidebar/sidebar-page-tree.tsx
  components/layout/footer/footer-content-section.tsx
  components/layout/header/header-mobile-menu-content.tsx
  components/layout/header/header-right.tsx
  components/layout/header/header.tsx
  components/layout/home/menu.tsx
  components/page-actions.tsx
  components/ui/collapsible.tsx
Due: lint, format

fix: remove React in page
  components/page-actions.tsx
  components/ui/collapsible.tsx
Due: lint, format

feat: setup packages with tanstack
  .gitignore
  .oxlintrc.json
  README.md
  bun.lock
  next.config.ts
  package.json
  postcss.config.mjs
  tsconfig.json
  vite.config.ts
Due: lint, format

chore: bump deps
  bun.lock
  package.json
Due: format

feat: proper LLMs pages loaders and rewriting
  src/routeTree.gen.ts
  src/routes/$lang/$.tsx
  src/routes/$lang/llms-full[.]txt.ts
  src/routes/$lang/llms.$.ts
  src/routes/$lang/llms/$slug[.]md.ts
  src/routes/$lang/llms/full.ts
  src/start.ts
Due: lint, format

fix: copy markdown button
  src/routes/$lang/$.tsx
Due: lint, format

feat: generate static Icons so only used are imported
  .gitignore
  plugins/vite-plugin-extract-icons.ts
  src/components/mdx/card.tsx
  src/components/mdx/icon.tsx
  vite.config.ts
Due: lint, format

feat: proper server prerendering
  src/lib/server/docs-loader.ts
  src/lib/server/llms-handler.ts
  src/lib/server/og-handler.ts
  src/routes/$lang/$.tsx
  src/routes/$lang/llms.$.ts
  src/routes/$lang/og/$.tsx
Due: lint, format

feat: restore OG titles and images functionality
  src/components/layout/page.tsx
  src/lib/images.ts
  src/lib/source.ts
  src/routeTree.gen.ts
  src/routes-old/$lang/og/$slug.tsx
  src/routes/$lang/$.tsx
  src/routes/$lang/og/$.tsx
Due: lint, format

feat: restore Page Actions functionality
  src/components/page-actions.tsx
  src/components/page-actions/copy-button.tsx
  src/components/page-actions/icons/anthropic-icon.tsx
  src/components/page-actions/icons/openai-icon.tsx
  src/components/page-actions/llm-copy-button.tsx
  src/components/page-actions/option-button-item.tsx
  src/components/page-actions/option-item-content.tsx
  src/components/page-actions/option-item-variants.ts
  src/components/page-actions/option-link-item.tsx
  src/components/page-actions/view-options-popover.tsx
  src/components/page-actions/view-options.tsx
  src/routes/$lang/$.tsx
Due: lint, format

chore: fix linting issues
  src/components/layout/docs/sidebar/sidebar-page-tree.tsx
Due: lint, format

chore(deps): bump minor dependency versions
  bun.lock
  package.json
Due: format

chore(deps): align tanstack and fumadocs versions for static build
  bun.lock
  package.json
Due: format

fix(static): correct dot routes and prerender page list
  src/routes/robots[.]txt.ts
  src/routes/sitemap[.]xml.ts
  vite.config.ts
Due: lint, format

chore(cleanup): delete legacy nextjs and old route files
  app/api/custom.css
  app/api/layout.tsx
  app/api/page.tsx
  app/apple-icon.png
  app/favicon.ico
  app/icon.png
  app/manifest.json
  src/components/api-wrapper.tsx
  src/routes-old/$lang/$.tsx
  src/routes-old/$lang/index.tsx
  src/routes-old/$lang/sdk.tsx
Due: lint, format

fix(build): stop running bun link check in pre-commit
  lefthook.yml
Due: none

refactor(static): remove server-only llm and og endpoints
  src/components/page-actions/copy-button.tsx
  src/components/page-actions/icons/anthropic-icon.tsx
  src/components/page-actions/icons/openai-icon.tsx
  src/components/page-actions/llm-copy-button.tsx
  src/components/page-actions/option-button-item.tsx
  src/components/page-actions/option-item-content.tsx
  src/components/page-actions/option-item-variants.ts
  src/components/page-actions/option-link-item.tsx
  src/components/page-actions/view-options-popover.tsx
  src/components/page-actions/view-options.tsx
  src/lib/get-llm-text.ts
  src/lib/images.ts
  src/lib/og.tsx
  src/lib/og/Inter-Regular.ttf
  src/lib/og/Inter-SemiBold.ttf
  src/lib/server/llms-handler.ts
  src/lib/server/og-handler.ts
  src/routes/$lang/$.tsx
  src/routes/$lang/llms-full[.]txt.ts
  src/routes/$lang/llms.$.ts
  src/routes/$lang/og/$.tsx
  src/start.ts
Due: lint, format

chore(deploy): align wrangler static assets directory
  wrangler.jsonc
Due: none

fix(static): restore docs toc and prerendered route stability
  content/en/sdk/feed-component/props-reference.mdx
  content/en/sdk/video-component/analytics-integration.mdx
  src/components/layout/docs/sidebar/sidebar-page-tree.tsx
  src/components/layout/page.tsx
  src/routeTree.gen.ts
  src/routes/$lang/$.tsx
  src/routes/__root.tsx
  src/routes/robots[.]txt.ts
  src/routes/sitemap[.]xml.ts
  vite.config.ts
Due: lint, format

fix(deploy): serve static assets from dist/client
  wrangler.jsonc
Due: none

chore(deps): add takumi and remove vercel og
  bun.lock
  package.json
Due: format

chore(static): update local static preview script
  package.json
Due: format

build(static): fix md route and generate valid og assets
  package.json
  scripts/generate-og.ts
  src/routes/$lang/{$}[.]md.ts
  vite.config.ts
Due: lint, format

feat(llm): restore markdown export via //$.md and llms-full.txt
  src/lib/get-llm-text.ts
  src/lib/server/llms-handler.ts
  src/routes/$lang/$[.]md.ts
  src/routes/$lang/llms-full[.]txt.ts
Due: lint, format

feat(og): restore static og generation with takumi
  src/lib/images.ts
  src/lib/og.tsx
  src/lib/og/Inter-Regular.ttf
  src/lib/og/Inter-SemiBold.ttf
  src/lib/server/og-handler.ts
  src/routes/$lang/$.tsx
  src/routes/$lang/og/$.tsx
Due: lint, format
