Repository qeeqez/docs: changes, and which lefthook commands are due for each by the changed paths.
All: lint, format

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    lint:
      glob: "*.{js,ts,jsx,tsx}"
      run: bunx oxlint --max-warnings=0 {staged_files} && bunx fumadocs-mdx && bun ./scripts/lint.ts
      stage_fixed: true
    format:
      glob: "*.{js,ts,jsx,tsx,json,md}"
      run: bun format {staged_files}
      stage_fixed: true

chore: simplify setup #86ew7xmz9
  lefthook.yml
  package.json
Due: format

chore(deps): bump minor dependency versions
  bun.lock
  package.json
Due: format

chore(deps): bump major dependency versions
  bun.lock
  package.json
Due: format

feat: setup packages with tanstack
  .gitignore
  .oxlintrc.json
  README.md
  bun.lock
  next.config.ts
  package.json
  postcss.config.mjs
  tsconfig.json
  vite.config.ts
Due: lint, format

chore: bump deps
  bun.lock
  package.json
Due: format

feat: generate static Icons so only used are imported
  .gitignore
  plugins/vite-plugin-extract-icons.ts
  src/components/mdx/card.tsx
  src/components/mdx/icon.tsx
  vite.config.ts
Due: lint, format

feat: proper LLMs pages loaders and rewriting
  src/routeTree.gen.ts
  src/routes/$lang/$.tsx
  src/routes/$lang/llms-full[.]txt.ts
  src/routes/$lang/llms.$.ts
  src/routes/$lang/llms/$slug[.]md.ts
  src/routes/$lang/llms/full.ts
  src/start.ts
Due: lint, format

feat: restore Page Actions functionality
  src/components/page-actions.tsx
  src/components/page-actions/copy-button.tsx
  src/components/page-actions/icons/anthropic-icon.tsx
  src/components/page-actions/icons/openai-icon.tsx
  src/components/page-actions/llm-copy-button.tsx
  src/components/page-actions/option-button-item.tsx
  src/components/page-actions/option-item-content.tsx
  src/components/page-actions/option-item-variants.ts
  src/components/page-actions/option-link-item.tsx
  src/components/page-actions/view-options-popover.tsx
  src/components/page-actions/view-options.tsx
  src/routes/$lang/$.tsx
Due: lint, format

fix: copy markdown button
  src/routes/$lang/$.tsx
Due: lint, format

feat: restore OG titles and images functionality
  src/components/layout/page.tsx
  src/lib/images.ts
  src/lib/source.ts
  src/routeTree.gen.ts
  src/routes-old/$lang/og/$slug.tsx
  src/routes/$lang/$.tsx
  src/routes/$lang/og/$.tsx
Due: lint, format

feat: proper server prerendering
  src/lib/server/docs-loader.ts
  src/lib/server/llms-handler.ts
  src/lib/server/og-handler.ts
  src/routes/$lang/$.tsx
  src/routes/$lang/llms.$.ts
  src/routes/$lang/og/$.tsx
Due: lint, format

chore: fix linting issues
  src/components/layout/docs/sidebar/sidebar-page-tree.tsx
Due: lint, format

fix(build): fix build error
  components/layout/docs/sidebar/sidebar-folder-link.tsx
  components/layout/docs/sidebar/sidebar-item.tsx
  package.json
Due: lint, format

docs(sdk): add missing Video component props
  content/docs/en/sdk/video-component/props-reference.mdx
Due: none

docs(sdk): add missing Image component props
  content/docs/en/sdk/image-component/props-reference.mdx
Due: none

docs(sdk): add Feed component props reference
  content/docs/en/sdk/feed-component/meta.json
  content/docs/en/sdk/feed-component/props-reference.mdx
Due: format

docs(sdk): add TypeScript types reference
  content/docs/en/sdk/meta.json
  content/docs/en/sdk/types/index.mdx
  content/docs/en/sdk/types/meta.json
Due: format

docs(sdk): add Analytics integration guide
  content/docs/en/sdk/guides/analytics-integration.mdx
  content/docs/en/sdk/guides/meta.json
  content/docs/en/sdk/meta.json
  content/docs/en/sdk/video-component/props-reference.mdx
Due: format

feat(sdk-docs): Write documentation for new features #86ew7je94
  bun.lock
  content/docs/en/sdk/examples/index.mdx
  content/docs/en/sdk/examples/standard-player.mdx
  content/docs/en/sdk/getting-started/meta.json
  content/docs/en/sdk/getting-started/types.mdx
  content/docs/en/sdk/guides/meta.json
  content/docs/en/sdk/meta.json
  content/docs/en/sdk/types/meta.json
  content/docs/en/sdk/video-component/analytics-integration.mdx
  content/docs/en/sdk/video-component/meta.json
  package.json
Due: format

fix: remove unused props
  content/docs/en/sdk/getting-started/types.mdx
  content/docs/en/sdk/video-component/props-reference.mdx
Due: none

fix: inconsistencies in doc
  content/docs/en/sdk/video-component/analytics-integration.mdx
  content/docs/en/sdk/video-component/props-reference.mdx
Due: none

feat: Add chapters prop documentation for VideoSDK
  content/docs/en/sdk/video-component/player-controls.mdx
  content/docs/en/sdk/video-component/props-reference.mdx
Due: none

fix: incosistency in prop reference
  content/docs/en/sdk/getting-started/types.mdx
  content/docs/en/sdk/video-component/meta.json
Due: format

chore: add instructions for Agents #86ewbdu5n
  .agent/rules/base.md
  .github/copilot-instructions.md
  .gitignore
  AGENTS.md
Due: format

chore: remove non-working commands
  .agent/rules/base.md
Due: format

chore: remove ambiguous lines
  .agent/rules/base.md
Due: format

feat(sdk-docs): Write documentation for new features #86ew7je94
  content/docs/en/sdk/examples/index.mdx
  content/docs/en/sdk/examples/standard-player.mdx
  content/docs/en/sdk/getting-started/meta.json
  content/docs/en/sdk/getting-started/types.mdx
  content/docs/en/sdk/guides/meta.json
  content/docs/en/sdk/meta.json
  content/docs/en/sdk/types/meta.json
  content/docs/en/sdk/video-component/analytics-integration.mdx
  content/docs/en/sdk/video-component/meta.json
Due: format
